@charset "utf-8";
/* CSS Document */
*{box-sizing: border-box;}

body {
	background: #E0A4A5;
}

#wrapper {
	width: 1000px;
	margin: 0-auto;
}

header {
	width: 1000px;
	height: 60px;
	background:#E5EF42;
}

nav {
	width: 900px;
	height: 30px;
	background: #9F5EE1;
	margin: auto;
}

section {
	width: 1000px;
	height: 400px;
	background: #58C5F3;
	margin-bottom: 5px;
	margin-top: 40px;
}

aside {
	width: 1000px;
	height: 80px;
	background: #58C5F3;
}

footer {
	width: 1000px;
	height: 80px;
	background: #5792FF;
	clear: both;
	margin-top: 5px;
}
